.enrollment-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.enrollment-wrapper {
    border-radius: 5px;
    padding: 0px !important;
}

.enrollment-heading {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.course-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}