.ind-subject-wrapper-light{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.ind-subject-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ind-subject-details{
    
}