.btn-red{
    border: none;
    background-color: #FF472F;
    border-radius: 8px;
    padding: 8px;
    transition: all 250ms ease;
    min-width: 68px;
    transition: all 300ms ease;
    box-shadow: 2px 2px 7px rgba(24, 24, 24, 0.18), 5px 5px 10px rgba(255, 255, 255, 0.12) inset;
    color: white;
}

.btn-red:hover{
    cursor: pointer;
    background-color: #E10000;
    transition: all 300ms ease;
}

.btn-black{
    border: none;
    background-color: #000;
    border-radius: 8px;
    padding: 8px;
    transition: all 250ms ease;
    min-width: 68px;
    box-shadow: 2px 2px 7px rgba(24, 24, 24, 0.18), 5px 5px 10px rgba(255, 255, 255, 0.22) inset;
    color: white;
    transition: all 300ms ease;
}

.btn-black:hover{
    cursor: pointer;
    background-color: #2f2f2f;
    transition: all 300ms ease;
}

.btn-white{
    border: none;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 8px;
    transition: all 250ms ease;
    min-width: 68px;
    color: rgb(0, 0, 0);
}

.btn-white:hover{
    cursor: pointer;
    background-color: #d0d0d0;
    transition: all 300ms ease;
}

input {
    border: None;
    background: #e3e3e3;
    border-radius: 8px;
    padding: 10px;
    transition: all 200ms ease;
}

input:focus {
    outline: none;
}

input:disabled {
    background-color: #c7c7c7;
}

.error{
    color: #FF472F;
}

.main-wrapper{
    display: flex;
    justify-content: flex-end;
}

textarea {
    resize: none;
    height: 75px;
    width: 98%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}

textarea:focus{
    border: none;
}


.back-btn-light {
    background: none;
    border: none;
    color: #000;
    outline: none;
    transition: all 200ms ease;
}

.back-btn-dark {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    transition: all 200ms ease;
}

.close-btn {
    background: none;
    border: none;
    outline: none;
    transition: all 200ms ease;
}

.back-btn-light:hover, .back-btn-dark:hover ,.close-btn:hover {
    color: red;
    transition: all 200ms ease;
}

.create-btn {
    outline: none;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    transition: all 100ms ease;
}

.create-btn-light{
    background: #f9f9f9;
    border: 1px solid #bdbdbd;
}


.create-btn-light:hover{
    background: #f8f4f4;
    transition: all 100ms ease;
}

.create-btn-dark{
    background: #303030;
    border: 1px solid #424242;
    color: white;
}


.create-btn-dark:hover{
    background: #2a2a2a;
    transition: all 100ms ease;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family:sans-serif !important;
    font-size: 14px !important;
    line-height: 100% !important;
}

.unapproved-div {
    position: absolute;
    left: 33%;
    top:40%;
    background: #eeeeee;
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 5px 5px 10px rgba(24, 24, 24, 0.308), -5px -5px 10px rgba(255, 255, 255, 0.512) inset;
}

.render-separator   input{
    min-width: 30px !important;
}


.card-links {
    text-decoration: none;
    color: black;
}